<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MEAN Auth App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto navbar-left">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['']">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-md-0">
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['login']" class="nav-link">Login</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['register']" class="nav-link">Register</a>
      </li>
      <li class="nav-item">
        <a (click)="onLogout()" href="javascript:void(0)" class="nav-link">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
